
    /***MEDIA QUERY 320px hasta 767px***/
    @media (min-width: 320px) and (max-width:767px){
    nav {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: gray;
    /* border: 1px solid red; */
    }
    .burguer{
        width: 50px;
        height: 50px;
        background-color: var(--highlight);
    }
    .burguer img{
        width: 100%;
        height: 100%;
    }
    nav > ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;
        display: none;
        border: 1px solid blue;
    }
    nav > ul > li > a{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        border: 1px solid rgb(255, 0, 179);
    }
    nav button {
        height: 40px;
        background: none;
        border: none;
        color: inherit;
        transform: scale();
        border:1px solid  #33d2ff;
    }
    nav a {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    }
    nav a:hover {
    color: var(--highlight);
    }
}
/***********************************************************************/
/************************MEDIA QUERY DESDE 768px hasta 1500px***********/
/***********************************************************************/
@media (min-width: 767px) and (max-width:1500px){
    nav {
        height: 10vh;
        display: flex;
        padding:5%;
        display: flex;
        flex-wrap: wrap;
    }
    nav > .burguer{
        display: none;
    }
    nav > ul {
        margin: auto;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 7px;
    }
    nav > ul > li{
        text-align: center;
        width: 15%;
        padding: 5px;
    }
    nav > ul > li > a {
        font-size: 1.5rem;
    }
    nav > ul > li > a:hover {
        background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.8rem;
        transition: all 0.7s ease-in-out;
    /* color: var(--highlight); */
    }
    nav > ul > li > button {
        width: 30px;
        height: 29px;
        background: none;
        border: none;
        color: inherit;
        transform: scale(1.8);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}