.Cajaexperiencia{
    width:100%;
    margin-top:200px;
    padding: 20px;
    /* border:1px solid red */
}
.Cajaexperiencia .cajaUl{
    width: 70%;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    &&:hover{
        background-color: #302b63;
        border-radius: 5px;
        border: 1px solid white;
    }
}

.Cajaexperiencia .cajaUl p{
    padding: 5px;
    margin-top: 10px;
    /* border: 1px solid black; */
}
.Cajaexperiencia .cajaUl .ulTech{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 80%;
    flex-direction: row;
    gap: 5px;
    /* border: 1px solid green; */
}
.Cajaexperiencia .cajaUl .ulTech li{
width: fit-content;
border: 1px solid gray;
border-radius: 5px;
padding: 5px 15px;
font-size: 0.7rem;
font-weight:bolder;
text-align: center;
&&:hover{
    background-color:  #24243e;
    background-color:#975151;
    border-radius: 5px;
    border: 1px solid white;
}
}