/************************************************************/
/**************MEDIA QUERY 320px hasta 767px*****************/
/*************************************************************/
@media (min-width: 320px) and (max-width:767px){
    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        }
        footer > div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            padding: 10px;
            }
}

/*************************************************************/
/**************MEDIA QUERY 768px hasta 1500px*****************/
/**************************************************************/
@media (min-width: 768px) and (max-width:1500px){

    footer {
        display: flex;
        flex-wrap: wrap;
        padding:40px;
    }
    footer > div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5px;
        }
        
}

