/******************************************************************/
/*******************MEDIA QUERY 320px hasta 767px*****************/
/******************************************************************/
@media (min-width: 320px) and (max-width:767px){
    .cv{
        width:90%;
        margin: auto;
    }
    
    button{
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
    }
    button:hover{
        color: gray;
    }
    .imgCV{
        width: 100%;
        
    }
    .imgCV img{
        width: 100%;
        height: 100%;
        
    }
}
/**********************************************************************************/
/**************************MEDIA QUERY 768px hasta 1500px**************************/
/**********************************************************************************/
@media (min-width: 768px) and (max-width:1500px) {
.cv{
    width:90%;
    margin: auto;
    margin-top: 240px;
    /* border: 1px solid red; */
}

.cv button{
        cursor: pointer;
        position: fixed;
        border-radius: 10px;
        padding: 8px;
        font-size: 1rem;
        font-weight:bolder;
        text-align: center;
        border: 2px solid gray;
        background-color: #302b63;
        &&:hover{
        background-color:#975151;
        border: 2px solid white;
        }  
}
.cv .imgCV{
    margin: auto;
    margin-top: 30px;
    width:70%;
    /* border: 1px solid yellow; */
}
.cv .imgCV img{
    margin: auto;
    width: 100%;
    height: 100%;
}
}