/******************************************************************/
/*******************MEDIA QUERY 320px hasta 767px*****************/
/******************************************************************/
@media (min-width: 320px) and (max-width:767px){
    .about{
        width: 95%;
        margin: auto;
        padding: 10px;
        background-color: rgb(158, 154, 154);
    }
    .about > p {
        font-size:1.1rem;
    }
}

/**********************************************************************************/
/**************************MEDIA QUERY 768px hasta 1500px**************************/
/**********************************************************************************/
@media (min-width: 768px) and (max-width:1500px) {
.about{
    width: 95%;
    margin: auto;
    padding: 10px;
    background-color: rgb(158, 154, 154);
}
.about > p {
    font-size:1.6rem;

}
}