/******************************************************************/
/*******************MEDIA QUERY 320px hasta 767px*****************/
/******************************************************************/
@media (min-width: 320px) and (max-width:767px){
    .home {
      
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10%;
        }
        .home .holaSoy {
            display: flex;
            font-size: 1.1em;
            padding:2%;
            width: 100%;
        }
        /**Foto de perfil****/
        .home .cajaArriba{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            justify-content:center;
        }
        .home .cajaArriba > h1 {
            background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            width: 90%;
            font-size:4rem;
            text-align: center;
        }
        .home > .cajaArriba .cajaFoto{
            margin-top: 10px;
            width:180px;
            height: 180px;
        }
        .home > .cajaArriba .cajaFoto img{
            width: 100%;
            height: 100%;
            border-radius: 100px;
            border:2px solid  #9845e8;
            border-radius: 100px;
            object-fit: cover;
            
        }
        /****/
        .home > .mePresento{
            width: 100%;
            text-align:center;
            padding: 5%;
            font-size: 1.2rem;
            background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            /* border: 1px solid red; */
        }
        .home > a {
            width: 100%;
            margin: auto;
            display: flex;
            cursor: pointer;
            padding: 0%;
            text-align: center;
            justify-content: center;
            font-size: 2rem;
            margin-top:40px;
            transition: all 0.7s ease-in-out;
            background: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            /* border: 1px solid red; */
            }
            .home > a:hover {
                display: flex;
                cursor: pointer;
                padding: 0%;
                text-align: center; 
                justify-content: center;
                font-size: 2.2rem;
                background-color: var(--highlight);
                } 
}
/**********************************************************************************/
/**************************MEDIA QUERY 768px hasta 1500px**************************/
/**********************************************************************************/
    @media (min-width: 768px) and (max-width:1500px) {
    .home {
        position: absolute;
        width:500px;
        margin: auto;
        margin-left:52%;
        display: flex;
        flex-direction: column;
        @keyframes circle-in-hesitate {
            0% {
                clip-path: circle(0%);
            }
            40% {
                clip-path: circle(40%);
            }
            100% {
                clip-path: circle(125%);
            }
        }
        border:1px solid red;
    }
    /**Foto de perfil*/
    .home .cajaArriba{
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        margin-top:20px;
        background-color: rgb (164, 164, 164);
   
        border: 1px solid yellow;
    }
    .home > .cajaArriba .cajaFoto{
        width:310px;
        height:310px;
        margin: auto;
    }
    .home > .cajaArriba .cajaFoto img{
        width: 100%;
        height: 100%;
        border:2px solid  #9845e8;
        border-radius: 100%;
    }
  
    /****/
    .home .cajaArriba > h1 {
    width: 70%;
    font-size: 7rem;
    margin: auto;
   
    }
    .home > .mePresento{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        padding: 6%;
        font-size: 2rem;
     
    }
    .home > a {
        width: 25%;
        height: 70px;
        margin: auto;
        display: flex;
        cursor: pointer;
        padding: 2%;
        text-align: center;
        justify-content: center;
        font-size: 2rem;
        margin-top:20px;
        transition: all 0.7s ease-in-out;
     
        }
        .home > a:hover {
            display: flex;
            cursor: pointer;
            padding: 2%;
            text-align: center;
            justify-content: center;
            font-size: 2.7rem;
            background-color: var(--highlight);
            } 

}