/******************************************************************/
/*******************MEDIA QUERY 320px hasta 767px*****************/
/******************************************************************/
@media (min-width: 320px) and (max-width:767px){
    .certificado-card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column ;
        margin: auto;
        gap: 10px;
        /* border: 1px solid blue; */
    }
    .CertificadosHeader{
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
    }
    .CertificadosHeader> h4{
        font-size: 1.1rem;
        margin-top: 10px;
    }
    .boximgCertificados{
        width: 100%;
        height: 100%;
    }
    .certificado-card > .boximgCertificados > img{
        width: 100%;
        height: 100%;
    }
    }


/**********************************************************************************/
/**************************MEDIA QUERY 768px hasta 1500px**************************/
/**********************************************************************************/
@media (min-width: 768px) and (max-width:1500px) {
.certificado-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column ;
    margin: auto;
    gap: 40px;
}
.CertificadosHeader{
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30px;
}
.CertificadosHeader> h4{
    font-size: 1.7rem;
    margin-top: 30px;
}
.boximgCertificados{
    width: 100%;
    height: 100%;
}
.certificado-card > .boximgCertificados > img{
    width: 100%;
    height: 100%;
}
}